    body {
font-size: 18px;
font-family: 'Raleway', sans-serif;
color: black;
line-height: 1.5;
background-color: #0a0a0a;
position: relative;
height: 100%;
margin-left: 80px !important;
margin-right: 80px !important;
}

@media (max-width: 1280px) {

    body {
        margin-left: 40px !important;
        margin-right: 40px !important; 
    }
}

@media (max-width: 640px) {

    body {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
}

@media (max-width: 768px) {

    body {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
}

a {
    color: #5334f5;
    font-weight: 500;
    text-decoration: none;
}

.Hero, .HeroGroup_about {
    background-size: cover;
    background-position: center;
}

.HeroGroup {
    /* max-width: 500px; */
    margin: 0 auto;
    color: white;
    padding: 150px 50px 50px 30px;
    text-align: left;

}

@media (max-width: 640px) {

    .HeroGroup {
        padding: 100px 20px 50px 20px;
    }

    .Hero h1 {
        font-size: 40px !important;
    }
}

.Hero h1{
    margin: 0;
    margin-bottom: 20px;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    color: white;
    font-size: 60px;
    font-weight: 500;
    line-height: 1.2;
    opacity: 0;   
    animation: HeroAnimation 3s forwards;
}

.Hero p {
    font-size: 22px;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.8);
    opacity: 0; 
    /* margin: 0px 10px; */
    animation: HeroAnimation 3s 0.2s forwards; /*forwards stops at the end of the animation and has to be applied here, not in the animation itself*/
    font-family: 'Raleway', sans-serif;
}

.Hero a {
    font-size: 17px;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    padding: 9px 20px;
    background: rgba(0, 0, 0, 0.7);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 20px;
}

@keyframes HeroAnimation {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}


.CardGroup {
    text-align: center;
    display: grid; 
    grid-template-columns: repeat(3,auto);
    /* grid-auto-columns: 33.3%; */
    align-items: center;
    grid-row-gap: 20px;
    justify-items: center;
    padding-bottom: 300px;  
    min-height: 0;
    min-width: 0;
}

@media (max-width: 1024px) {

    .CardGroup {
        grid-template-columns: repeat(2, auto);
    }
}

@media (max-width: 768px) {

    .CardGroup {
        grid-template-columns: repeat(2, auto);
        margin: 20px

    }
}

@media (max-width: 640px) {

    .CardGroup {
        grid-template-columns: repeat(1, auto);
        margin: 0;
    }
}

.HeroGroup_about {
    background: url('/images/portrait.jpg');
    height: 550px;
    margin: 0 50px;
    margin-bottom: 50px;
}

