/* @import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700'); */

body {
font-size: 18px;
font-family: 'Raleway', sans-serif;
color: #0d0d0d;
line-height: 30px;
font-weight: 300;
margin-left: 80px;
}

a {
    font-weight: 500;
    text-decoration: underline;
}

.Project-Hero {
    
    background-size: cover;    
    background-position: center;
    animation: HeroAnimation 3s forwards;
    margin-left: 300px;
    margin-right: 300px;
    max-width: 960px;
}

.Project-HeroGroup {
    font-family: 'Playfair Display', sans-serif;
    max-width: 960px;
    color: white;
    padding: 150px 0px 50px 0px;    
    text-align: left;
}

.Project-HeroGroup i{
    font-size: 36px;
    color: #999999;
    padding-bottom: 40px;   
}

.Project-HeroGroup i:hover {
    color: rgb(234, 61, 61);
}

.Project-Hero h2{
    font-family: 'Playfair Display', sans-serif;
    margin: 0;
    margin-bottom: 10px;
    color: white;
    font-size: 42px;
    line-height: 30px;
    opacity: 0;   
    animation: HeroAnimation 3s forwards;
}

.Project-Hero h5{
    font-family: 'Raleway', sans-serif;
    margin: 0;
    margin-top: 50px;
    color: white;
    font-weight: 700;
}

.Project-Hero h3{
    font-family: 'Raleway', sans-serif;
    margin: 0;
    margin-bottom: 20px;
    color: #999999;
    line-height: 30px;
    font-size: 20px;
    font-weight: 600;
    animation: HeroAnimation 3s forwards;
}

.Project-HeroGroup p {
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.8);
    opacity: 0; 
    margin-top: 40px;
    animation: HeroAnimation 3s forwards;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
}

.Project-HeroGroup a {
    color: white;
    text-decoration: underline;
}

.Project-HeroGroup a:hover {
    color:rgb(234, 61, 61);
}

@keyframes HeroAnimation {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.Project-Body {
    background-size: cover;
    background-position: center;
    color: white;
    padding-bottom: 300px;
    font-family: 'Raleway', sans-serif;
    margin-left: 300px;
    margin-right: 300px;
    animation: HeroAnimation 3s forwards
}



.Project-Body p {
    font-family: 'Raleway', sans-serif;
    line-height: 30px;
    /* max-width: 70%; */
    color: white;
}

.Project-Body h6 {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    margin-top: 8px;
    color: #999999;
    margin-bottom: 40px;
    font-weight: 400;
}

.Project-Body h3 {
    font-family: 'Raleway', sans-serif;
    margin-top: 20px;
    color: #999999;
}

.Project-Body img {
  margin-bottom: 0px;
}


.Project-Images {
    /* height: 370px; */
    display: grid; 
    grid-template-columns: repeat(2, auto); /*using this in lieu of writing auto 5 times*/
    /* align-items: center; */
    justify-items: center;
  }

  .Project-Images img{
    padding: 15px;
  }

  /* .Project-Body_small {
    max-width: 960px;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
    color: white;
    padding: 10px 50px;
    padding-bottom:300px;
  } */

  .Project-Body_small_image{
    max-width: 960px;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
    padding: 10px 50px;
    padding-bottom: 200px;
  }

.About_container {
    padding-top: 100px;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 2fr 2fr;
    padding-bottom: 300px;
    color: white
};


@keyframes HeroAnimation {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.About_text h2{
    color: white;
    font-size: 42px;
    line-height: 1.2;
    margin-bottom: 10px;
    opacity: 0; 
    animation: HeroAnimation 3s 0.2s forwards;
}

.About_text h3 {
font-size: 20px;
font-weight: 600;
color: #999999;
opacity: 0; 
animation: HeroAnimation 3s 0.2s forwards;
}

.About_text {
    padding-bottom: 30px;
}

@media (max-width: 768px) {

    .Project-Images {
        grid-template-columns: repeat(1, auto);
    }

    .About_container {
    grid-template-columns: repeat(1, auto);
    padding: 100px 20px 300px 20px !important;
    
};
    
}

@media (max-width: 640px) {

    .Project-Body {
        padding: 10px 20px;
        padding-bottom: 300px;
        margin-left: 0px;
        margin-right: 0px;
    }
    
    .Project-Body p {
        font-family: 'Raleway', sans-serif;
        max-width: 100%;
    }

    .Project-HeroGroup {
        padding-left: 20px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .Project-Hero {
        margin-left: 0px;
        margin-right: 0px;
    }

    .Project-HeroGroup h2 {
        font-size: 32px;
        margin-bottom: 10px;

    }

    .Project-HeroGroup h3 {
        font-size: 20px;
        font-weight: 600;
    }
}